@charset "utf-8";
html {
  height: 100%;
}

body {
  height: 100%;
}

.container {
  width: 100%;
  background-color: aquamarine;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  background-color: aqua;
}

.content-container {
  background-color: bisque;
  display: flex;
  flex: 1;
}

.nav {
  background-color: pink;
  flex: 1;
}

.main {
  background-color: blueviolet;
  flex: 3;
}

.aside {
  background-color: blue;
  flex: 1;
}

.footer {
  background-color: black;
  color: #fff;
}
