.container {
  width: 1000px;
  background-color: #ccc;
}

h1 {
  width: 500px;
  background-color: azure;
  font-size: 32px;
  color: red;
  padding: 8px;
  text-align: center;
  margin: 0 auto;
}

h2 {
  width: 500px;
  margin: 0 auto;
  background-color: aquamarine;
}
